body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #331100;
    color: white;
}

input {
    color: black;
}

.container {
    width: 100% !important;
}

.settingsBox {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.notePadWindow {
    display: inline-block;
    margin: 1rem;
    word-wrap: break-word;
    padding: 0rem 1rem;
    position: relative;
}

div.table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

div.tr {
    display: table-row;
}

div.td {
    display: table-cell;
    width: 100px;
}

/*ACE code editor*/
.codeEditor {
    width: 100%;
    height: 80vh;
}


.windowBorderRight {
    border-right: 2px solid black;
}

.windowOptions {
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/*
    W notepadzie
*/

.highlighedSuggestion {
    background-color: rgba(255, 255, 255, 0.3);
}

.notePart {
    /*border: solid 1px black;*/
    position: relative;
}

.notePartEditable {
    outline: none;
}

.notePartEditableWithDecorations {
    padding: 1rem;
}

.partDecoration {
    position: absolute;
    left: -1rem;
}

.partDecorationRight {
    position: absolute;
    right: 0;
    z-index: 10;
}

.wrapper { /*obiekt w ktorym jest imput z rozwijana listą*/
    position: relative;
    margin: 1rem 0rem;
}

    .wrapper .suggestionList {
        position: absolute;
        background-color: #331100;
        box-shadow: 0px 0px 5px rgba(0,0,0, 0.8);
        z-index: 2;
        /*bottom: 0;*/
    }

.smartBar {
    width: 100%;
    color: black;
    background-color: rgba(255,255,255, 0.1);
    border: none;
    outline: none;
    z-index: 3;
}
