@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div ng-controller="editorController">
    <input id="smartBar" ng-model="smartBar" ng-keydown="smartBarKeyDown($event)" />
    <!--<code>{{smartBar}}</code>-->
    <!--<code>{{suggestions}}</code>-->
    <table>
        <tr ng-repeat="sg in suggestions" ng-class="{yellow: $index == highlightedSuggestion}">
            <td>*</td>
            <td ng-repeat="nt in sg.NoteTags">
                
                {{$index}}
                {{nt.Tag.Name}}
            </td>
        </tr>
    </table>
    <code>highlightedSuggestion {{highlightedSuggestion}}</code>
    <code>sugg length {{suggestions.length}}</code>
    <code>{{highlightedSuggestion < suggestions.length}}</code>
</div>