@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div ng-controller="editorController">
    <input id="smartBar" ng-model="smartBar" ng-keydown="smartBarKeyDown($event)" />
    <!--<code>{{smartBar}}</code>-->
    <!--<code>{{suggestions}}</code>-->
    <table>
        <tr ng-repeat="sg in suggestions" ng-class="{yellow: $index == highlightedSuggestion}">
            <td>*</td>
            <td ng-repeat="nt in sg.NoteTags">
                
                {{$index}}
                {{nt.Tag.Name}}
            </td>
        </tr>
    </table>
    <div id="noteParts">
        <div class="notePart" ng-repeat="p in parts">
            <div ng-if="p.localState=='OK'">OK</div>
            <div ng-if="p.localState=='Sending'">Sending...</div>
            <div ng-if="p.localState=='Problem'">Couldn't send...</div>
            <div ng-model="p.Data" contenteditable="true" ng-keydown="editingPartKeyDown($event, $index)" focus-on="part{{$index}}">{{p.Data}}</div>
            @*{{p.Data}}*@
        </div>
        @*<div class="notePart">
            >
            <div ng-model="nextPart.Data" contenteditable="true" ng-keydown="editingPartKeyDown($event)">test</div>
        </div>*@
    </div>
    <code>highlightedSuggestion {{highlightedSuggestion}}</code>
    <code>sugg length {{suggestions.length}}</code>
    <code>{{highlightedSuggestion < suggestions.length}}</code>
    <code>noteId {{currentNoteId}}</code>
    <code>{{parts}}</code>
</div>