@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div ng-controller="windowsController" id="windowsContainer" class="table" keyboard-shortcuts-manager>
    <div class="tr">
        <div ng-controller="editorController" ng-init="setWindowID($index)" class="notePadWindow td" ng-class="{windowBorderRight: $index < arr.length-1}" ng-repeat="x in numberOfWindows">

            <!--windowId zawiera index renderowanego okna-->
            <suggestion-list ng-model="smartBar" input-id="smartBar{{windowId}}" input-class="smartBar" callback="suggestionListCallback"></suggestion-list>

            <div id="noteParts">

                <!--Komunikat gdy szukana notatka nie istnieje-->
                <div ng-show="askToAddNewNote != undefined" class="settingsBox">
                    Notatka '{{askToAddNewNote}}' nie istnieje.<br />
                    <button ng-click="addNote(askToAddNewNote)">Dodaj</button>
                    <button ng-click="askToAddNewNote=undefined">Ignoruj</button>
                </div>

                <!--Wyświetlanie wszystkich notatek-->
                <div class="notePart" ng-repeat="p in parts">
                    <div class="notePartEditableWithDecorations">

                        <div class="partDecoration"> > </div>

                        <!--Ikonki po prawej-->
                        <div class="partDecorationRight">
                            <div ng-if="p.localState=='OK'" class="iconsOnTheRight"><span class="glyphicon glyphicon-ok" aria-hidden="true" title="Zaaktualizowano" /></div>
                            <div ng-if="p.localState=='Sending'" class="iconsOnTheRight"><span class="glyphicon glyphicon-export" aria-hidden="true" title="Wysyłanie..."></span></div>
                            <div ng-if="p.localState=='Problem'" class="iconsOnTheRight"><span class="glyphicon glyphicon-remove" aria-hidden="true" title="Problem z zapisem"></span></div>
                            <div ng-if="$index == activePart" class="iconsOnTheRight"><span class="glyphicon glyphicon-cog" ng-click="p.displayData.showSettings?p.displayData.showSettings=false:p.displayData.showSettings=true" title="Ustawienia"></span></div>
                            <div ng-if="p.displayData.isViewLoader&&!p.displayData.showRaw" class="iconsOnTheRight"><span class="glyphicon glyphicon-console" title="RAW" ng-click="p.displayData.showRaw=true"></span></div>
                            <div ng-if="p.displayData.isViewLoader&&p.displayData.showRaw" class="iconsOnTheRight"><span class="glyphicon glyphicon-sunglasses" title="wyłącz RAW" ng-click="p.displayData.showRaw=false"></span></div>
                        </div>

                        <!--Ustawienia części notatki-->
                        <div ng-if="p.displayData.showSettings" class="settingsBox">
                            <table>
                                <tr ng-repeat="(type, savedData) in p.Settings">
                                    <td>{{type}}</td>
                                    <!--Podpowiadaj nazwę, jeśli typem ustawienia jest view lub script-->
                                    <td ng-if="type!='view' && type!='script'"><input type="text" ng-model="p.Settings[type+'']" ng-keydown="editingPartKeyDown($event, activePart)" /></td>
                                    <td ng-if="type=='view' || type=='script'"><suggestion-list ng-model="p.Settings[type+'']" ng-keydown="editingPartKeyDown($event, activePart)" /></td>
                                    <!--Usuń-->
                                    <td><span class="glyphicon glyphicon-remove" ng-click="deleteSetting($parent.$index, type)"></span></td>
                                </tr>
                            </table>
                            <p>Dodaj nowe o nazwie: <input type="text" ng-model="addSetting" /><span class="glyphicon glyphicon-plus" ng-click="p.Settings[addSetting+'']=''"></span></p>
                            <button ng-click="p.displayData.showSettings=false">Zamknij</button>
                        </div>

                        <!--Szybkie ustawianie View (lista najczęściej używanych)-->
                        <div ng-if="p.displayData.quickViewSetter" class="settingsBox" ng-init="getViews()">
                            <div ng-click="p.displayData.quickViewSetter=false">Pusta notatka (brak view)</div>
                            <div ng-repeat="v in quickViewsContainer" ng-click="setViewToPart($parent.$index, v.TagsAsSingleString)">
                                {{v.TagsAsSingleString}}
                            </div>
                        </div>

                        <!--W przypadku ustalonego view-->
                        <div ng-if="p.Settings['view'] != undefined || p.Settings['script'] != undefined">
                            @*<font size="1" ng-click="focusedOnPart($index)">{{p.Settings['view']}}</font><br />*@
                            <font size="1" ng-click="focusedOnPart($index)" style="display: block">
                                <goto note-name="{{p.Settings['view']}}"></goto>
                            </font>
                            <font size="1" ng-click="focusedOnPart($index)" style="display: block">
                                <goto note-name="{{p.Settings['script']}}"></goto>
                            </font>
                            <view-loader ng-init="p.displayData.isViewLoader=true" ng-show="!p.displayData.showRaw" ng-model="p.Data" part-settings="p.Settings" ng-click="focusedOnPart($index)"></view-loader>
                            <div ng-show="p.displayData.showRaw" ng-model="p.Data" contenteditable="true" ng-keydown="editingPartKeyDown($event, $index)"></div>
                        </div>

                        <!--W przypadku braku zdefiniowanego View, wyświetl zwykły text box-->
                        <div ng-if="p.Settings['view'] == undefined && p.Settings['script'] == undefined">
                            <div ng-if="noteType=='Normal'" class="notePartEditable" ng-model="p.Data" contenteditable="true" ng-keydown="editingPartKeyDown($event, $index)" focus-on="{{'part' + $index + 'window' + windowId}}" ng-focus="focusedOnPart($index)">{{p.Data}}</div>
                            <div ng-if="noteType=='Code'||noteType=='View'" class="codeEditor" data-ace="{{noteType}}" ng-model="p.Data" ng-keydown="editingPartKeyDown($event, $index)" focus-on="{{'part' + $index + 'window' + windowId}}" ng-focus="focusedOnPart($index)"></div> <!--theOnlyPartData-->
                            <div ng-if="noteType=='Code'">
                                <p>GLOBAL_TOKEN - zmienna globalna gdzie przechowywany jest token</p>
                                <p>Kod wykonywany na poziomie viewLoadera. Dostępne zmienne: scope, elem (viewLoader jako html'owy obiekt), attrs(atrybuty obiektu viewLoader), ngModelValue(treść notatki),
                                    fileUpload, $http.</p>
                                <p>changeView(html) - nadpisuje view part'a</p>
                            </div>
                            <div ng-if="noteType=='View'" style="margin: 1rem">
                                <p>
                                    <code>&lt;append-script note-name=&quot;!code upload file&quot;&gt;&lt;/append-script&gt;</code>
                                    do wczytywania skryptów. Kod wykonywany na poziomie viewLoadera. Dostępne zmienne: scope, elem (viewLoader), attrs(atrybuty obiektu viewLoader), ngModel(treść notatki),
                                    fileUpload, $http.

                                </p>
                                <p>Można także dodać 'script' w ustawieniach którejś z części notatki. Kod będzie wykonywany z tego samego miejsca co append-script.</p>
                                <p>
                                    <code>&lt;goto note-name='notatka tagi'&gt;&lt;/goto&gt;</code>
                                    do linkowania do notatek
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Dodaje nowy part-->
            <button ng-if="noteType!='Code'&&noteType!='View'" class="btn btn-success" ng-click="addPart()">Dodaj część notatki</button>

            <!--Edycja ustawień całej notatki-->
            <button ng-show="!showNoteEditForm" ng-click="showNoteEditForm=true" class="btn btn-warning">Ustawienia notatki</button>
            <div ng-show="showNoteEditForm" class="settingsBox">
                <p>Nowe Tagi:</p>
                <input type="text" ng-model="currentNoteObject.TagsToAdd" />
                <button ng-click="saveChangesToNote()">Zapisz</button>
                <button ng-click="showNoteEditForm=false">Zamknij</button>
            </div>

            <div ng-if="noteType!='Code'&&noteType!='View'" style="margin: 1rem">
                <p>
                    Dodatkowe informacje:
                </p>
                <p>jsn[jakas notatka] - aby utworzyc link do aplikacji</p>
            </div>

            <!--Ikonki dodawania/usuwania okna-->
            <div class="windowOptions">
                <span class="glyphicon glyphicon-plus" ng-click="addWindow($index)"></span>
                <span class="glyphicon glyphicon-remove" ng-click="removeWindow($index)"></span>
            </div>

        </div>
    </div>
</div>

<script src="~/lib/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
