@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div ng-controller="windowsController" class="table">
    <div class="tr">
        <div ng-controller="editorController" class="notePadWindow td" ng-class="{windowBorderRight: $index < arr.length-1}"   ng-repeat="x in numberOfWindows">
            <div class="wrapper">
                <input id="smartBar" ng-focus="showSuggestions=true" ng-blur="showSuggestions=false" ng-model="smartBar" ng-keydown="smartBarKeyDown($event)" focus-on="smartBar" />
                <table class="suggestionList" ng-show="showSuggestions">
                    <tr ng-repeat="sg in suggestions" ng-class="{highlighedSuggestion: $index == highlightedSuggestion}" ng-mousedown="suggestionClicked($index, $event)">
                        <td ng-repeat="nt in sg.NoteTags" style="padding: 0rem 1rem">
                            {{nt.Tag.Name}}
                        </td>
                    </tr>
                </table>
            </div>

            <div id="noteParts">
                <div class="notePart" ng-repeat="p in parts">
                    <div class="notePartEditableWithDecorations">
                        <div class="partDecoration"> > </div>
                        <div class="partDecorationRight">
                            <div ng-if="p.localState=='OK'"><span class="glyphicon glyphicon-ok" aria-hidden="true" /></div>
                            <div ng-if="p.localState=='Sending'"><span class="glyphicon glyphicon-export" aria-hidden="true"></span></div>
                            <div ng-if="p.localState=='Problem'"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                        </div>
                        <div class="notePartEditable" ng-model="p.Data" contenteditable="true" ng-keydown="editingPartKeyDown($event, $index)" focus-on="{{'part' + $index + 'window' + $parent.$index}}" ng-focus="focusedOnPart($index)">{{p.Data}}</div>
                    </div>
                </div>
            </div>

            <button class="btn btn-success" ng-click="addPart()">Dodaj część notatki</button>

            <div class="windowOptions">
                <span class="glyphicon glyphicon-plus" ng-click="addWindow($index)"></span>
                <span class="glyphicon glyphicon-remove" ng-click="removeWindow($index)"></span>
            </div>
            @*<code>highlightedSuggestion {{highlightedSuggestion}}</code>
                <code>sugg length {{suggestions.length}}</code>
                <code>{{highlightedSuggestion < suggestions.length}}</code>
                <code>noteId {{currentNoteId}}</code>
                <code>{{parts}}</code>*@
        </div>
    </div>
</div>